:root {
  --color-blue-medium: #b2d6ff;
  --color-blue-light: #d6e9fe;
  --color-red: #f09a9d;
  --color-yellow: #f5cf8e;
  --color-gray: #eaedf0;
}

* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

header {
  height: 100px;
  background-color: var(--color-blue-light);
}

aside {
  float: left;  
  width: 200px;
  height: 300px;
  background-color: var(--color-red);
}

section {
  float: left;
  width: 650px;
  height: 500px;
  background-color: var(--color-yellow);
  padding: 20px;
}

footer {
  /* height: 200px; */
  background-color: var(--color-blue-light);
  overflow: hidden;
}

.page {
  width: 900px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.container {
  overflow: hidden;
  background-color: var(--color-gray);
}

.column {
  float: left;
  width: 31%;
  height: 160px;
  margin: 20px 1.15%;
  background-color: var(--color-blue-medium);
}

section img {
  float: left;
  width: 300px;
  height: 200px;
  /* border: 1px solid var(--color-gray); */
  margin: 0 20px 20px 0;
}

section p {
  margin-bottom: 20px;
  text-align: justify;
}

.avartar {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: var(--color-blue-light);
  margin: 25px;
  float: left;
}

.name {
  margin-top: 25px; 
}

.comment {
  margin: 10px;
  overflow: hidden;
}